body {
    background-color: #22272d;
}

h1 {
    font-size: 100px;
    background-color: black;
    color: white;
    border-bottom: 3px solid rgb(202, 202, 202);
}

h2 {
    color: teal;
    padding-bottom: 5px;
    border-bottom: 1px solid green;
}

p {
    font-size: 18px;
    color: yellow;
    margin: 5px 0;
}

section {
    background-color: black;
    padding: 100px;
    margin: 100px;
    border-radius: 12px;
    max-width: 10%;
}
